<nav class="navbar ">
    <div class="max-width">
        <div class="logo"><a routerLink="">Am<span>it</span></a></div>
        <ul class="menu">
            <li><a routerLink="" class="menu-btn">Home</a></li>
            <li><a routerLink="/about" class="menu-btn">About</a></li>
            <li><a routerLink="/codingProfile" class="menu-btn">Coding Profile</a></li>
            <li><a routerLink="/skills" class="menu-btn">Skills</a></li>
            <li><a routerLink="/project" class="menu-btn">Projects</a></li>
            <li><a routerLink="/contact" class="menu-btn">Contact</a></li>
        </ul>
        
    </div>
</nav>