<section class="projects" id="codingProfile">
    <div class="max-width">
        <h2 class="title">Coding Profile</h2>
        <div class="carousel owl-carousel" *ngFor="let profile of profiles">

            <a [href]="profile.pLink" target="_blank" rel="noopener noreferrer">
                <div class="card">
                    <div class="box">
                        <img [src]="profile.pImage" alt="">
                        <div class="text"> {{profile.pText}} </div>
                
                    </div>
                </div>
            </a>
            
        </div>
    </div>
</section>