<section class="about" id="about">
    <div class="max-width">
        <h2 class="title">About me</h2>
        <div class="about-content">
            <div class="column left">
                <img src="assets/pp.jfif" alt="Profile Photo">
            </div>
            <div class="column right">
                <div class="text">I'm Amit Gupta and I'm a <span class="typing-2"></span></div>
                <p>Pursuing B-tech in CSE from Maharaja Surajmal Institute of Technology. I am a highly motivated in Full Stack App developement and participate regularly in Hackathons. I understand the job requirement and knows the importance of quality and reusuable code with documentation.I have good experience in working with team and integrating the work over platforms like Github.
                I am fluent with using C++, Java, Python, Angular, Flask, NodeJs, Express.Js, SQL, etc. I own the work that I do and I work with 100% commitment.I am known to be very approachable and be a good coordinator for the team, so that makes working with me a smooth experience for everyone involved.</p>
                <a href="https://drive.google.com/file/d/1hp5NudhLzcDcj-XsujrWZBaY9WpKaYdJ/view" target="_blank">Download Resume</a>
            </div>
        </div>
    </div>
</section>